appdirs==1.4.0
Django==1.10.5
django-debug-toolbar==1.6
django-registration==2.2
factory-boy==2.8.1
Faker==0.7.8
packaging==16.8
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
six==1.10.0
sqlparse==0.2.2
